* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
}

.conteiner__footer {
    background-color: #111849;
    padding-top: 180px;

}

.title {
    color: #5975FF;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.subtitle {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    margin-left: 356px;
    width: 828px;
    height: 136px;
    text-align: center;
    position: relative;
    right: 45px;
}

.button {
    text-decoration: none;
    background-color: #3029D9;
    color: #fff;
    border-radius: 4px;
    padding: 10px 19px;
    margin-left: 663px;
    margin-bottom: 180px;
    display: inline-block;
    border-radius: 5px;
}

.button:hover {
    background-color: #fff;
    color: #3029D9;
    font-size: 18px;
    border: none;
    border: 3px solid #3029D9;
    cursor: pointer;
    font-weight: 700;
}

.top {
    display: flex;
    gap: 204px;
}

.logo p {
    color: #A0ABB8;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 74px;
    margin-top: 35px;
}

.nav-1 , .nav-2 , .nav-3{
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        text-decoration: none;
        color: #0B1131;
        font-family: 'Poppins', 'sans-serif';
        font-weight: 600;
        font-size: 14px;
    }

    a:hover {
        color: #3029D9;
    }

    .how {
        width: 150px;
    }
}

.img {
    display: flex;
    gap: 24px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        color: #A0ABB8;
        font-weight: 400;
        font-style: 12px;
    }
}

.text-2 {
    display: flex;
    gap: 34px;
}